@import "../../Style.scss";

.products {
  text-align: center;

  h2 {
    margin-bottom: 50px;
  }
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    @include mobile {
      width: 100vw;
      grid-template-columns: auto;
      padding: 10px;
    }
  }
}
