@import "../../Style.scss";

.categories {
  height: 70vh;
  .wrapperCategories {
    width: 1366px;
    margin: auto;
    display: flex;
    
    @include mobile {
      margin: 0px;
      width: 100vw;
      flex-direction: column;
    }
  }
}
