@import "../../Style.scss";

.hero {
  height: calc(100vh - 70px);
  background-color: #d7d7d7;
  width: 100%;
  overflow: hidden;
  position: relative;
  @include mobile {
    height: 250px;
    padding: 20px;
  }
  .container {
    width: 200vw;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    transform: translateX(-100vw);
    .slide {
      display: flex;

      width: 1366px;
      margin: auto;
      .left {
        flex: 1;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 100px;
        @include mobile {
          gap: 5px;
        }
        h1 {
          font-size: 80px;
          @include mobile {
            font-size: 30px;
          }
        }
        p {
          color: rgba(0, 0, 0, 0.4);
          font-size: 30px;
          @include mobile {
            font-size: 15px;
          }
        }
        button {
          text-transform: uppercase;
          padding: 10px;
          background-color: black;
          color: white;
          border: none;
          font-weight: bold;
          font-size: 20px;
          border-radius: 10px;
        }
      }
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 600px;
          width: 600px;
          object-fit: cover;
          @include mobile {
            height: 150px;
            width: 150px;
            align-self: start;
          }
        }
      }
    }
  }
  .icons {
    .arrowLeft,
    .arrowRight {
      position: absolute;
      top: 50%;

      cursor: pointer;
      background-color: black;
      padding: 5px;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      justify-content: center;
      @include mobile {
        width: 20px;
        height: 20px;
      }
    }
    .arrowRight {
      right: 20px;
    }
    .arrowLeft {
      left: 20px;
    }
  }
}
